* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
    background-color: black;

}

.row2{
    width: 100%;
    height: 1px;
    background: #F1F1F3;
}
h1 {
    color:rgb(199, 178, 17);
    font-size:xx-large;
    text-align: center;
    margin: 10px;
    
}
h2 {
    color:rgb(197, 194, 194);
    font-size:xx-large;
    text-align: center;
    
}
h4 {
    color:rgb(197, 194, 194);
    margin: 10px;
    font-size: xx-large;
}
p{
    margin-top: 10px;
    color:rgb(229, 228, 228);
    font-size: larger;
    margin-left: 10px;
}
ul{
    margin: 10px;
    color:rgb(229, 228, 228);
    font-size: larger;
}
ol{
    margin: 15px;
    color:rgb(229, 228, 228);
    font-size: larger;
}
 li{
    margin: 10px;
    color:rgb(229, 228, 228);
    font-size: larger;
   

}
img{
    width: 90%;
    height: 90%;
}
.img1{
    text-align: center;
    height: 60%;
    width: 60%;
    padding:50px;
    margin-left: 330px;
}
h3{
    color:rgb(197, 194, 194);
    font-size: x-large;
    margin: 10px;
}
.iff{
    border-radius: 15px;
    background-color: rgb(169, 164, 164);
    padding: 10px;
    margin: 10px;
}
.olo{
    margin: 15px;
    padding: 15px;
    background-color:rgb(169, 164, 164);
    border-radius: 5px;

}
a {
    margin: 10px;
    background-color: beige;
}